@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  font-family: "League Spartan";
}

body {
  cursor: url("assets/Pusheen\ Writes\ a\ Wish\ List\ for\ Christmas\ Animated--pointer--SweezyCursors.cur"), auto;
}

main {
  border-radius: 8px;
  padding-bottom: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 8rem;
  backdrop-filter: blur(8px);
  padding: 2rem;
}

button {
  padding: 5px;
  width: 100px;
  margin: auto;
  background-color: #c7e891;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}

button:hover {
  box-shadow: -1px 3px 1px rgb(193, 190, 190);
  transition: all 0.3s;
}

.patinha {
  margin-right: 5px;
}

.gato {
  display: none;
}

@keyframes animacao-gato {
  0% {
    opacity: 0;
  }
  
  20% {
    opacity: 0;
  }
  
  40% {
    opacity: 0;
  }
  
  50% {
    opacity: 0.5;
  }
  
  75% {
    opacity: 0.7;
  }
  
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {
  button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .gato > img {
    width: 100px;
  }
  
  .gato {
    margin-top: 2.5rem;
    animation: animacao-gato 4s linear 1;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
  }
}
