@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: "League Spartan";
}

body {
  background-image: url(https://cdn.wallpapersafari.com/78/36/XjB4g5.jpg);
}

main {
  /* border: 1px solid black; */
  border-radius: 8px;
  padding-bottom: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 8rem;
  backdrop-filter: blur(8px);
  border: 1px solid black;
}

.sessao {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(221, 217, 217);
}

button {
  padding: 5px;
  width: 100px;
  margin: auto;
  background-color: #C7E891;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}

button:hover {
  box-shadow: -1px 3px 1px rgb(193, 190, 190);
  transition: all 0.3s;
}

footer {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.1rem;
}

footer > a {
  text-decoration: none;
  color: rgb(158, 79, 232);
  font-weight: bold;
}

footer > a:hover {
  text-decoration: underline;
}