@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: "League Spartan";
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(assets/fundo.jpg);
}

main {
  border-radius: 8px;
  padding-bottom: 20px;
  max-width: 41vw;
  margin: auto;
  margin-top: 12dvh;
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

h1 {
  margin-top: -20px;
  margin-bottom: 25px;
}

img {
  width: 270px;
  filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.808));
}

.sessao > input {
  width: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.login, .senha {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(221, 217, 217);
}

button {
  padding: 8px;
  width: 100px;
  margin: auto;
  background-color: #C7E891;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}

button:hover {
  box-shadow: -1px 3px 1px rgb(100, 100, 100);
  transition: all 0.3s;
}

.entrar {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.1rem;
}

footer > a {
  text-decoration: none;
  color: rgb(158, 79, 232);
  font-weight: bolder;
}

footer > a:hover {
  text-decoration: underline;
  transition: all 0.5s;
}

@media (max-width:600px) {
  body {
    background-position: center;
  }
  
  main{
    max-width: 85vw;
    margin-top: 9vh;
  }
  
}