@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  ---fundo: #d9d9d9;
  ---fundo-produto: #f27a81;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan";
  box-sizing: border-box;
}

main {
  max-width: 80vw;
  margin: auto;
}

img {
  width: 46px;
}

.voltar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu {
  display: flex;
  align-items: center;
}

header {
  max-width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: #a559e7;
  border-radius: 10px;
}

h1 {
  margin-bottom: 5vh;
  font-size: 35px;
}

.categorias {
  background-color: var(---fundo);
  width: 75vw;
  height: 70vh;
  margin: auto;
  display: grid;
  column-gap: 1.5rem;
  border-radius: 10px;

  grid-template-columns: repeat(4, 14vw);
}

.categorias > .produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
  margin-top: 3vh;
}

.imagem-produto {
  width: 120px;
  height: 110px;
  border-radius: 8px;
  background-color: var(---fundo-produto);
}

.imagem-produto:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
  border: 1px solid black;
  transform: scale(1.1);
}

p {
  text-align: center;
  margin-top: 2vh;
  font-weight: 600;
  font-size: 20px;
}

.imagem-produto > a > img {
  width: 70%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 551px) and (max-width: 800px) {
  .categorias {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 15vw);
    column-gap: 3rem;
    padding-bottom: 20px;
  }

  .categorias > .produto > .imagem-produto {
    width: 80px;
    height: 80px;
  }

  .categorias > .produto > p {
    font-size: 15px;
  }
}

@media (width<=550px) {
  header {
    width: 85vw;
  }

  .categorias {
    grid-template-columns: repeat(2, 15vw);
    column-gap: 4rem;
  }

  .categorias > .produto {
    margin-left: 20vw;
  }

  .categorias > .produto > p {
    font-size: 17px;
  }

  .categorias > .produto > .imagem-produto {
    width: 75px;
    height: 75px;
  }
}
